@import "tailwindcss";

@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf');
}

@theme {
    --font-barlow: "Barlow", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    /* Warna Hijau Apotek Luna */
    --color-primary: #10B981;
    --color-primary-hover: #059669;
    --color-primary-light: #D1FAE5;
    --color-latar: #f8fafc;
    --color-teks: #111827;
    --color-teks-samping: #6b7280;
    --color-garis: #e5e7eb;
}

@layer base {
  body {
    @apply bg-latar text-teks font-barlow;
  }
  h1, h2, h3, .font-bold {
    @apply font-poppins;
  }
}